:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgd-text-color: #ffffff;
  --accent-color: #2196f3;
  --icon-fon: #f5f4fa;
}

body {
  background-color: var(--bgd-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ШАПКА-ВЕРХ С ЛОГОТИПОМ */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid blue;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.cap,
.site-nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  margin-left: auto;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent,
.link.main {
  color: var(--accent-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.link.item {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* СТУДИЯ (MAIN) */
.banner-name {
  margin-bottom: 30px;

  color: var(--bgd-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.ban-button {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.ban-button:hover,
.ban-button:focus {
  background-color: #188ce8;
}

/* НАШИ ПРЕИМУЩЕСТВА */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.text-list {
  width: 270px;
}

.text-list:not(:last-child) {
  margin-right: 30px;
}

.head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.head-text {
  font-weight: 400;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.box {
  padding-top: 0;
}

.heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.boxes-list {
  display: flex;
}

.boxes-list .box-item {
  width: 370px;
}

.box-item:not(:last-child) {
  margin-right: 30px;
}

/* НАША КОМАНДА */
.bloks-list {
  display: flex;
}

.blok-item {
  width: 270px;
  border: 1px solid transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.6);
}

.blok-item:not(:last-child) {
  margin-right: 30px;
}

.description {
  padding: 30px 32px;
  background-color: var(--bgd-text-color);
}

.name {
  margin-bottom: 10px;
}

.name,
.job {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.job {
  color: var(--secondary-text-color);
  font-weight: 400;
}

.comands-blok {
  background-color: #f5f4fa;
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.client-list {
  display: flex;
}

.client-item {
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}


/* ПОРТФОЛИО (MAIN) */
a {
  text-decoration: none;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--bgd-text-color);
  background-color: var(--accent-color);
}

.project-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-name {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.sign {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.name-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
}

/* ФУТЕР */
.container.main {
  display: flex;
}

.finish {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: var(--bgd-text-color);
}

.foot {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;

  color: var(--bgd-text-color);
}

.contacts,
.contact-list {
  margin-top: 9px;
}

.address,
.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer .bottom {
  color: rgba(255, 255, 255, 0.6);
}

.footer .item:hover,
.footer .item:focus {
  color: var(--accent-color);
}

.footer {
  margin-right: 70px;
}

.call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}